body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

.shade-05 {
    color: #333;
}

.font-size-large {
  font-size: 24px;
}

.font-weight-medium {
    font-weight: 500;
}

.radius-large {
  border-radius: 8px;
}

.border-light-gray {
  border: 0.6px solid #dadce0;
}

.border-top-light-gray {
  border-top: 0.6px solid #dadce0;
}

.padding-medium {
  padding: 16px;
}

.padding-top-medium {
  padding-top: 16px;
}

.padding-left-medium {
  padding-left: 16px;
}

.padding-bottom-huge {
  padding-bottom: 36px;
}
