body {
  font-family: Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

input[type=radio] {
  margin: 0;
  padding: 0;
}

.italic {
  font-style: italic;
}

.primary {
  color: #1a73e8;
}

.shade-primary {
  color: #1a73e8;
}

.shade-0 {
  color: #000;
}

.shade-013 {
  color: #222;
}

.shade-02 {
  color: #333;
}

.shade-028 {
  color: #484848
}

.shade-038 {
  color: #606060
}

.shade-047 {
  color: #777;
}

.shade-054 {
  color: rgba(0, 0, 0, .54);
}

.shade-100 {
  color: #fff;
}

.background-primary {
  background: #1a73e8;
}

.background-shade-97 {
  background: #F7F7F7;
}

.background-transparent {
  background: transparent;
}

.outline-color-primary {
  outline-color: #1a73e8;
}

.border-top-color-shade-088 {
  border-top-color: rgba(0,0,0,0.12);
}

.border-color-primary {
  border-color: #1a73e8;
}

.border-color-light-gray {
  border-color: #dadce0;
}

.border-shade-02 {
  border-color: #333;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.font-size-h1 {
  font-size: 1.125rem
}

.font-size-tiny {
  font-size: 12px;
}

.font-size-small {
  font-size: 14px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-larger {
  font-size: 24px;
}

.font-size-huge {
  font-size: 32px;
}

.font-weight-medium {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

.border-circle {
  border-style: solid;
  border-radius: 50%;
}

.border-width-02 {
  border-width: 2px;
}

.border-width-10 {
  border-width: 10px
}

.radius-top-large {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.radius-bottom-large {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.radius-small {
  border-radius: 4px;
}

.radius-large {
  border-radius: 8px;
}

.border-gray {
  border: 1px solid #dadce0;
}

.border-light-gray {
  border: 0.6px solid #dadce0;
}

.border-top-light-gray {
  border-top: 0.6px solid #dadce0;
}

.border-right-light-gray {
  border-right: 0.6px solid #dadce0;
}

.border-normal {
  border-style: solid;
  border-width: 1px;
}

.border-top-solid {
  border-top-style: solid;
}

.border-top-width-normal {
  border-top-width: 1px;
}

.border-top-06 {
  border-top-width: 0.6px;
  border-top-style: solid;
}

.border-vertical-06 {
  border-right-width: 0.6px;
  border-right-style: solid;
  border-left-width: 0.6px;
  border-left-style: solid;
}

.margin-smaller {
  margin: 8px
}

.margin-larger {
  margin: 24px;
}

.margin-horizontal-smaller {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-vertical-larger {
  margin-top: 24px;
  margin-bottom: 24px;
}

.margin-top-tiny {
  margin-top: 4px;
}

.margin-top-smaller {
  margin-top: 8px;
}

.margin-top-small {
  margin-top: 12px;
}

.margin-top-medium {
  margin-top: 16px;
}

.margin-top-larger {
  margin-top: 24px;
}

.margin-top-huge {
  margin-top: 36px;
}

.margin-left-smaller {
  margin-left: 8px;
}

.margin-right-small {
  margin-right: 12px;
}

.padding-tiny {
  padding: 4px;
}

.padding-smaller {
  padding: 8px;
}

.padding-medium {
  padding: 16px;
}

.padding-vertical-tiny {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding-vertical-smaller {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-vertical-small {
  padding-top: 12px;
  padding-bottom: 12px;
}

.padding-vertical-medium {
  padding-top: 16px;
  padding-block-end: 16px;
}

.padding-vertical-large {
padding-top: 20px;
  padding-block-end: 20px;
}

.padding-horizontal-smaller {
  padding-right: 8px;
  padding-left: 8px;
}

.padding-horizontal-small {
  padding-right: 12px;
  padding-left: 12px;
}

.padding-horizontal-medium {
  padding-right: 16px;
  padding-left: 16px;
}

.padding-horizontal-larger {
  padding-right: 24px;
  padding-left: 24px;
}

.padding-horizontal-huge {
  padding-right: 28px;
  padding-left: 28px;
}

/* .padding-horizontal-huge {
  padding-right: 36px;
  padding-left: 36px;
} */

.padding-top-tiny {
  padding-top: 4px;
}

.padding-top-smaller {
  padding-top: 8px;
}

.padding-top-small {
  padding-top: 12px;
}

.padding-top-medium {
  padding-top: 16px;
}

.padding-top-large {
  padding-top: 20px;
}

.padding-top-huge {
  padding-top: 36px;
}

.padding-left-smaller {
  padding-left: 8px;
}

.padding-left-medium {
  padding-left: 16px;
}

.padding-left-larger {
  padding-left: 24px;
}

.padding-left-huge {
  padding-left: 36px;
}

.padding-bottom-tiny {
  padding-bottom: 4px;
}

.padding-bottom-smaller {
  padding-bottom: 8px;
}

.padding-bottom-large {
  padding-bottom: 20px
}

.padding-bottom-larger {
  padding-bottom: 24px
}

.padding-bottom-extra-huge {
  padding-bottom: 32px;
}

.padding-bottom-huge {
  padding-bottom: 36px;
}

.box-shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,0.22);
}

.input:not([type=checkbox]) {
  outline: none;
}

.no-border {
  border: none;
}

.no-outline {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.flexbox {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flexbox-direction-column {
  flex-direction: column;
}

.flexbox-direction-row {
  flex-direction: row;
}

.flexbox-justify-content-center {
  justify-content: center;
}

.flexbox-align-center {
  align-items: center;
}

.flexbox-align-end {
  align-items: flex-end;
}

.flexbox-align-content-center {
  align-content: center;
}

.flexbox-align-self-start {
  align-self: flex-start;
}

.flexbox-align-self-end {
  align-self: flex-end;
}

.flexbox-center {
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.scale-50 {
  transform: scale(.5);
}

.scale-0 {
  transform: scale(0);
}

.opacity-zero {
  opacity: 0;
}

.line-height-150 {
  line-height: 1.5em;
}

.line-height-h1 {
  line-height: 1.5rem;
}

.line-height-medium {
  line-height: 20px;
}

.line-height-larger {
  line-height: 28px;
}

.line-height-huge {
  line-height: 32px;
}

.all-cap {
  text-transform: uppercase;  
}

.text-align-right {
  text-align: right;
}

