body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

.shade-02 {
  color: #333;
}

.shade-013 {
  color: #222;
}

.shade-100 {
  color: #fff;
}

.background-primary {
  background: #1a73e8;
}

.font-size-small {
  font-size: 14px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-larger {
  font-size: 24px;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.content-box {
  box-sizing: content-box;
}

.radius-small {
  border-radius: 4px;
}

.radius-large {
  border-radius: 8px;
}

.border-gray {
  border: 1px solid #dadce0;
}

.border-light-gray {
  border: 0.6px solid #dadce0;
}

.border-top-light-gray {
  border-top: 0.6px solid #dadce0;
}

.margin-top-smaller {
  margin-top: 8px;
}

.margin-top-larger {
  margin-top: 24px;
}

.padding-medium {
  padding: 16px;
}

.padding-vertical-smaller {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-horizontal-small {
  padding-right: 12px;
  padding-left: 12px;
}

.padding-horizontal-medium {
  padding-right: 16px;
  padding-left: 16px;
}

.padding-top-medium {
  padding-top: 16px;
}

.padding-left-medium {
  padding-left: 16px;
}

.padding-bottom-smaller {
  padding-bottom: 8px;
}

.padding-bottom-large {
  padding-bottom: 20px
}

.padding-bottom-larger {
  padding-bottom: 24px
}

.padding-bottom-huge {
  padding-bottom: 36px;
}

.input:not([type=checkbox]) {
  outline: none;
}

.no-border {
  border: none;
}

.no-outline {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
}

.flexbox-align-self-start {
  align-self: flex-start;
}

.flexbox-align-self-end {
  align-self: flex-end;
}

.full-width {
  width: 100%;
}