body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

input[type=radio] {
  margin: 0;
  padding: 0;
}

.italic {
  font-style: italic;
}

.shade-013 {
  color: #222;
}

.shade-02 {
  color: #333;
}

.shade-047 {
  color: #777;
}

.shade-100 {
  color: #fff;
}

.background-primary {
  background: #1a73e8;
}

.background-shade-97 {
  background: #F7F7F7;
}

.outline-color-primary {
  outline-color: #1a73e8;
}

.border-color-primary {
  border-color: #1a73e8;
}

.border-color-light-gray {
  border-color: #dadce0;
}

.border-shade-02 {
  border-color: #333;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.font-size-small {
  font-size: 14px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-larger {
  font-size: 24px;
}

.font-size-huge {
  font-size: 32px;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

.border-circle {
  border-style: solid;
  border-radius: 50%;
}

.border-width-02 {
  border-width: 2px;
}

.border-width-10 {
  border-width: 10px
}

.radius-top-large {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.radius-bottom-large {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.radius-small {
  border-radius: 4px;
}

.radius-large {
  border-radius: 8px;
}

.border-gray {
  border: 1px solid #dadce0;
}

.border-light-gray {
  border: 0.6px solid #dadce0;
}

.border-top-light-gray {
  border-top: 0.6px solid #dadce0;
}

.border-right-light-gray {
  border-right: 0.6px solid #dadce0;
}

.border-top-06 {
  border-top-width: 0.6px;
  border-top-style: solid;
}

.border-vertical-06 {
  border-right-width: 0.6px;
  border-right-style: solid;
  border-left-width: 0.6px;
  border-left-style: solid;
}

.margin-top-smaller {
  margin-top: 8px;
}

.margin-top-small {
  margin-top: 12px;
}

.margin-top-medium {
  margin-top: 16px;
}

.margin-top-larger {
  margin-top: 24px;
}

.margin-top-huge {
  margin-top: 36px;
}

.padding-tiny {
  padding: 4px;
}

.padding-smaller {
  padding: 8px;
}

.padding-medium {
  padding: 16px;
}

.padding-vertical-small {
  padding-top: 12px;
  padding-bottom: 12px;
}

.padding-vertical-smaller {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-horizontal-small {
  padding-right: 12px;
  padding-left: 12px;
}

.padding-horizontal-medium {
  padding-right: 16px;
  padding-left: 16px;
}

.padding-horizontal-huge {
  padding-right: 36px;
  padding-left: 36px;
}

.padding-top-medium {
  padding-top: 16px;
}

.padding-top-huge {
  padding-top: 36px;
}

.padding-left-smaller {
  padding-left: 8px;
}

.padding-left-medium {
  padding-left: 16px;
}

.padding-left-larger {
  padding-left: 24px;
}

.padding-left-huge {
  padding-left: 36px;
}

.padding-bottom-smaller {
  padding-bottom: 8px;
}

.padding-bottom-large {
  padding-bottom: 20px
}

.padding-bottom-larger {
  padding-bottom: 24px
}

.padding-bottom-huge {
  padding-bottom: 36px;
}

.box-shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,0.22);
}

.input:not([type=checkbox]) {
  outline: none;
}

.no-border {
  border: none;
}

.no-outline {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.flexbox {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flexbox-direction-column {
  flex-direction: column;
}

.flexbox-direction-row {
  flex-direction: row;
}

.flexbox-justify-content-center {
  justify-content: center;
}

.flexbox-align-content-center {
  align-content: center;
}

.flexbox-align-self-start {
  align-self: flex-start;
}

.flexbox-align-self-end {
  align-self: flex-end;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.scale-50 {
  transform: scale(.5);
}

.scale-0 {
  transform: scale(0);
}

.opacity-zero {
  opacity: 0;
}